doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav#home
      a(href="/") MEMIXY
      if !logged
        a(href="/login") zaloguj
      else
        a(href="/register") rejestracja
        form(method='POST' action='/logout')
          button(type='submit') wyloguj
    block content
